
.settings
.metadata
.classpath
.project


local.properties
.idea

project.properties
proguard.cfg

packager

bin
gen


/org.eclipse.swt

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore angular build ouput directory
dist

# Ignore local npm repository
node_modules


# Ignore maven target directory
target

# Config file
config
