<div class="container" (window:resize)="onResize()" (window:beforeunload)="onBeforeUnload()">
    <div>
        {{WIDTH}} x {{HEIGHT}} | {{getStatusText()}}
    </div>

    <div class="btn-group" role="group">
        <button class="btn btn-dark" (click)="key('KeyP')">[P]ause</button>
        <button class="btn btn-dark" (click)="key('KeyG')">Toggle [G]rid</button>
        <button class="btn btn-danger" (click)="newGame()">New game</button>
    </div>

    <div>
        <canvas #canvas width='400' height='600'></canvas>
    <div>
    <div class="btn-group" role="group">
        <button class="btn btn-dark" (click)="key('ArrowUp')">Turn</button>
        <button class="btn btn-dark" (click)="key('ArrowLeft')">Left</button>
        <button class="btn btn-dark" (click)="key('ArrowDown')">Down</button>
        <button class="btn btn-dark" (click)="key('ArrowRight')">Right</button>
    </div>
    <div>
        <br>
        <a href="https://github.com/bailuk/TLG">GitHub</a>
    </div>
</div>
